<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDS.Portal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IDS.Portal.Properties.Settings.PORTAL_APPSConnectionString"
            connectionString="Data Source=CSGSQL;Initial Catalog=PORTAL_APPS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <IDS.Portal.Properties.Settings>
            <setting name="IDS_Portal_TokenServer_TokenServer" serializeAs="String">
                <value>http://localhost:3044/TokenServer.asmx</value>
            </setting>
        </IDS.Portal.Properties.Settings>
    </applicationSettings>
</configuration>